body {
    /* background-color: rgb(116, 88, 155); */
    background-image: url("https://images.saymedia-content.com/.image/t_share/MTkyOTkyMzE2OTQ3MDQ3NjQ1/website-background-templates.png");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 80px;
    background-repeat: no-repeat;
    background-size: 200vh;
}
.Border tr td{
    border: 2px solid black;
    padding: 9px;
}

img {
    width: 30px;
    height: 30px;
}

iframe {
    margin-top: 30px;
    margin-left: 500px;
    border-radius: 20px;
}

.about {
    margin-left: 2px;
}

.links {
    background-color: rgb(220, 220, 220);
    margin-top: 60px;
    text-align: center;
    height: 20px;
}