body {
      background-color: rgb(223, 176, 176);
      color: rgb(0, 0, 0);
      background-image: url("https://wallpaperaccess.com/full/3239444.jpg");
      display: flex;
      /* justify-content: center; */
      margin-top: 140px;
  } 

.img {
 position: relative;
 left: 70px;
 bottom : 20px;
}

.img img {
  width: 100px;
  height: 100px;
  border: 3px solid green;
  border-radius: 50px;
}

.status {
  position: relative;
  color: green;
  font-size: 26px;
  font-weight: 100;
}

.Body {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(223,176,176);
  width: 500px;
  height: 500px;
  border-radius: 30px;
  position: relative;
  top: 0px;
  background-color: rgb(233, 141, 141);
  box-shadow: 10px 8px 2px rgb(223,141,141);
}

.Body form table tr td{
  border: 2px solid black;
  padding: 10px;
  color: rgb(227, 15, 15);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.Body td {
  width: 100px;
}

.Data {
  margin: 40px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Data input {
  width: 300px;
  height: 30px;
  margin-left: 40px;
}

.Body form table select {
  background-color: rgb(233, 141, 141);
  border: 1px solid black;
}

select option:hover {
  cursor: pointer;
}