body {
  /* background-color: rgb(223, 176, 176); */
      color: rgb(0, 0, 0);
      background-image: url("https://wallpaperaccess.com/full/3239444.jpg");
      color: white;
  }
h1 {
  color: rgb(229, 219, 219);
}
.fh1 {
  text-align: center;
  color: black;
}
.fpa {
  color:black;
  text-align: center;
}
.Body {
  width: 600px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 50px;
  padding: 10px;
  /* box-shadow: 10px 8px 8px 0px rgb(112, 112, 197); */
}

.Body form {
  font-size: 20px;
  font-weight: 100px;
  background-color: rgb(28, 132, 176);
  border-radius: 20px;
  padding:40px;
  align-content: center;
}

.Body form table tr td input {
  width: 250px;
  border-radius: 20px;
  border: none;
  height: 25px;
  padding: 8px;
  background-color: rgb(157, 211, 198);
}

.Body form table tr td select {
  width: 265px;
  border-radius: 20px;
  border: none;
  height: 35px;
  padding: 8px;
  background-color: rgb(157, 211, 198);
}

.Body form select {
  cursor: pointer;
}

.Body button {
  border: none;
  border-radius: 10px;
  /* width:100px; */
  height: 30px;   
  cursor: pointer;
  background-color: rgb(81, 164, 63);
  margin-top: 50px;
   margin-left: 150px;
  font-size:20px;
  font-family: 'Times New Roman', Times, serif;
}

.Body form table button :hover {
  background-color: red;
}

.links {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  font-weight: 600;
  background-color: aliceblue;
  height: 30px;
}